.styled-table {
    border-collapse: collapse;
    font-size: 14px;
    min-width: 100%;
}

.styled-table thead tr {
    background-color: #FAFAFA;
    color: #000;
    font-weight: normal;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 15px 15px;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #FAFAFA;
}

